* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #000958;
    --btn-color: #ff5b2e;
    --topic-color: #5e6085;
    --desc-primary: #656689;
}

body {
    background: #fffaf5;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

/* =====common */
.section-head {
    text-align: center;
}

.section-topic {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: var(--topic-color);
}

.section-heading {
    margin-top: 15px;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: var(--primary-color);
}

.section-desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: var(--desc-primary);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    outline: none;
    border-radius: 31px;
    height: 56px;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    cursor: pointer;
    color: var(--btn-color);
    opacity: 0.6;
    border: 1px solid var(--btn-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
}

/* =====HEADER */

/* ===header top  */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.header .nav-list {
    display: flex;
}

.nav-item {
    margin: 0 3px;
}

.header .nav-item__link {
    display: inline-block;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--primary-color);
}

.header .nav-item__link--active {
    font-weight: 600;
}

.header-action__sign-up {
    width: 117px;
    height: 50px;
    opacity: 0.7;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: transparent;
}

/* ===header hero  */
.hero {
    padding-top: 74px;
    padding-bottom: 77px;
}

.hero-inner {
    display: flex;
    align-items: center;
}

.hero-media {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 94px;
}

.hero-media__wrap {
    position: relative;
    z-index: 3;
}

.hero-media__images {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 3px solid #fff;
    border-radius: 16px;
    width: 388px;
    height: 488px;
    background: #fe997b;
}

.hero-media__img {
    width: 100%;
    border-radius: inherit;
}

.hero-media__decor {
    position: absolute;
}

.hero-media__decor:first-of-type {
    left: 377px;
    top: 17px;
    z-index: -1;
}

.hero-media__decor:last-of-type {
    left: -58px;
    top: 247px;
    z-index: -1;
}

.hero-media__images--small {
    z-index: 3;
    border: 2px solid #fddfe2;
    margin: 0 0 -58px -32px;
    width: 186px;
    height: 244px;
    background: #faa7ad;
}

/* card */

.card {
    position: absolute;
    bottom: 0;
    left: 129px;
    z-index: 3;
    width: 250px;

    padding: 0 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-item {
    padding: 18px 0;
    display: flex;
    align-items: center;
}

.break-item {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
}

.card-item__wrap {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fec23f;
    border-radius: 10px;
    overflow: hidden;
}

.card-item__wrap--bg {
    background: #c6e2fa;
}

.card-item__img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.card-item__infor {
    padding-left: 10px;
}

.card-item__title {
    font-weight: 600;
    font-size: 1.4rem;
    color: #181e52;
}

.card-item__desc {
    margin-top: 6px;
    display: block;
    width: 118px;
    height: 4px;
    background: var(--primary-color);
    opacity: 0.08;
    border-radius: 10px;
}

.card-item__desc--short {
    width: 39px;
}

/* hero content */
.hero-content {
    margin-left: 120px;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: var(--primary-color);
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    line-height: 1.88;
    color: #656689;
}

.hero-actions {
    margin-top: 38px;
}

.hero__btn {
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding: 22px 30px;
    background: var(--btn-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
    color: #fff;
    opacity: 1;
}

.hero-action__btn-icon-wrap {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-action__btn-icon {
    color: var(--btn-color);
}

.hero__btn-underline {
    border: none;
    box-shadow: none;
    margin-left: 24px;
    padding: 0;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration-line: underline;
    color: var(--primary-color);
    opacity: 1;
}

/* ===ABOUT */
.about {
    padding-bottom: 130px;
}

.about-row {
    display: flex;
    justify-content: space-between;
}

/* about content top  */
.about-content {
    padding: 130px 0;
    width: 40%;
}

.about-desc {
    padding-right: 46px;
}

.about-form {
    margin-top: 54px;
}

.about-form__row {
    display: flex;
    justify-content: space-between;
}

.about-form__label:last-child {
    display: inline-block;
    margin-top: 34px;
}

.about-form__col .about-form__label {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
    white-space: nowrap;
}

.about-form__label::before {
    content: " ";
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--btn-color);
    border-radius: 4px;
    background: #fff;
}

.about-form__check {
    display: none;
}

.about-form__checkbox {
    opacity: 0;
    position: absolute;
    left: 6px;
}

.about-form__label:has(:checked)::before {
    background: var(--btn-color);
}

.about-form__label:has(:checked) .about-form__checkbox {
    opacity: 1;
}

/* about media top */
.about-media {
    margin-left: 200px;
    align-self: center;
}

.about-media__box {
    position: relative;
    display: flex;
    width: 494px;
    height: 559px;
    border-radius: 16px;
}

.about-media__bg {
    position: relative;
    align-self: flex-end;
    width: 100%;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
}

.about-media__img {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 91%;
}

.about-media__decor {
    position: absolute;
    z-index: 1;
    top: 157px;
    right: -45px;
}

.about-media__card {
    position: absolute;
    top: 165px;
    left: -92px;
    width: 136px;
    text-align: center;
    padding: 30px 26px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
}

.about-media__quantity {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #ffffff;
}

.about-media__experience {
    display: inline-block;
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}

.about-media__foot-dog {
    position: absolute;
    left: 86px;
    top: -40px;
}

/* about media bottom */
.about-row:nth-child(2) {
    margin-top: 86px;
}

.about-bot-row {
    justify-content: flex-start;
}

.about-media-bot__bg {
    position: relative;
    display: block;
    width: 458px;
    height: 500px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about-media-bot__img,
.about-media-bot__decor {
    position: absolute;
}

.about-media-bot__img {
    width: 90%;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 18px;
}

.about-media-bot__decor:nth-of-type(2) {
    top: 13px;
    right: 63px;
}
.about-media-bot__decor:nth-of-type(3) {
    top: -16px;
    right: 13px;
}
.about-media-bot__decor:nth-of-type(4) {
    top: 33px;
    right: -21px;
}
.about-media-bot__decor:nth-of-type(5) {
    top: 268px;
    right: -33px;
}
.about-media-bot__decor:nth-of-type(6) {
    top: 336px;
    right: 19px;
}
.about-media-bot__decor:nth-of-type(7) {
    top: 435px;
    left: 377px;
}
.about-media-bot__decor:nth-of-type(8) {
    top: 442px;
    left: 386px;
}
.about-media-bot__decor:nth-of-type(9) {
    top: 447px;
    left: 392px;
}

/* about content bottom */
.about-content-bot {
    width: 48%;
    margin-left: 127px;
    align-self: center;
}

.about-content-bot__desc {
    padding-right: 60px;
}

.features {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.features::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: var(--btn-color);
    opacity: 0.07;
}

.features__item {
    padding-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -7px;
    cursor: pointer;
}

.features__item:first-child:after {
    position: absolute;
    left: 7px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 2px;
    width: 95px;
    border-radius: 2px;
    background: var(--btn-color);
}

.features__img {
    align-self: flex-end;
}

.features__title {
    font-family: "Sora", sans-serif;
    margin-left: 10px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
    white-space: nowrap;
}

.features__content {
    margin-top: 36px;
    width: 390px;
}

.features__desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--desc-primary);
}

.features__call {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
    padding-bottom: 5px;
}

.features__call::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1.5px;
    width: 86px;
    border-radius: 1px;
    background: currentColor;
}

/* ===SERVICES */
.services {
    padding: 68px 0 100px 0;
    background: #fff6ed;
}

.services__grid {
    display: grid;
    column-gap: 86px;
    grid-template-columns: 1fr 410px 1fr;
    margin-top: 70px;
}

.services__col:first-child,
.services__col:last-child {
    display: grid;
    row-gap: 24px;
    grid-template-rows: repeat(3, 1fr);
}

.services__row {
    padding: 30px 22px 30px 28px;
    background: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.services__title {
    position: relative;
    padding-left: 12px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.services__title::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    height: 22px;
    width: 2px;
    border-radius: 1px;
    background-image: linear-gradient(to bottom, #ff5b2e, #ffa187);
}

.services__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--desc-primary);
}

.services__call {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}

.services__icon {
    margin-left: 9px;
}

.services__col:nth-child(2) {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.services__img-box {
    position: absolute;
    bottom: 62px;
    left: 0;
    width: 410px;
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}

.services__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
}

.service__btn {
    margin-bottom: -39px;
    box-shadow: none;
}

/* ===STAFF */
.staff {
    padding: 130px 0;
}

.staff__list-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 67px;
    margin-top: 78px;
    padding: 0 calc(33px / 2);
}

.staff__item {
    text-align: center;
}

.staff__media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: -1;
    /* width: 100%;
    height: 299px; */
    border-radius: 129.5px;
}

.staff__media::before {
    position: absolute;
    content: " ";
    width: calc(100% + 32px);
    height: 100%;
    background-image: url(../icon/staff-decor01.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.staff__item:nth-child(3) .staff__media::before {
    background-image: url(../icon/staff-decor03.svg);
}

.staff__item:nth-child(odd) .staff__media::before {
    background-position-y: bottom;
}

.staff__item:nth-child(2) .staff__media::before {
    background-image: url(../icon/staff-decor02.svg);
}

.staff__item:nth-child(4) .staff__media::before {
    background-image: url(../icon/staff-decor04.svg);
}

.staff__item:nth-child(even) .staff__media::before {
    background-position-y: 33px;
}

.staff__media::after {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: block;
    content: "";
    width: 100%;
    height: 90%;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: inherit;
}

.staff__item:nth-child(2) .staff__media::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(3) .staff__media::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(4) .staff__media::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__avatar {
    position: relative;
    z-index: 2;
    width: 100%;
    border-radius: inherit;
}

.staff__desc {
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--desc-primary);
}

.staff__name {
    display: inline-block;
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.staff__btn-wrap {
    margin-top: 48px;
    text-align: center;
}

.staff__btn {
    display: inline-block;
    box-shadow: none;
}
